doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MITAOE | Club Page
        style 
            include ./../../public/css/club.css
            include ./../../public/util.css
            include ./../../public/css/header.css
    body 
        header.header 
            img(src="/Logo.png", alt="Logo" class="logo")
            nav 
                ul 
                    li 
                        a(href="/clubs") Home 
                    li
                        a(href="/clubs/my") My Clubs 
                    if user.role == "Teacher" 
                        li
                            a(href="/admin/new") Create Club 
            div.msg=`Welcome ${user.full_name}`
            .dropdown 
                div.account.drop-btn 
                div.dropdown-content 
                    a.dropdown-item(href="/users/account") Account 
                    a.dropdown-item(href="/users/account/setting") Setting 
                    a.dropdown-item(href="/logout") Logout 
                    if user.role == "Teacher"
                        a.dropdown-item(href="/admin") Administration 
        if done == true 
            div.done-msg#dismiss= `Password Updated! `
                button(onclick=`document.getElementById('dismiss').style.display = 'none'`) ❌
        if success == false 
            div.err-msg#dismiss= `Something went! ${message}`
                button(onclick=`document.getElementById('dismiss').style.display = 'none'`) ❌
        section.head
            h1 Settings
        main 
            .container 
                .form-box 
                    .form-heading Change your password
                    form(action="/users/account/setting" method="POST")
                            .input-box 
                                label(for="password")
                                input(type="password" name="password" value=`` placeholder="New Password") 
                            
                            
                            div.input-box
                                button(type="submit" class="btn btn-signup") Update Password
                            div.input-box 
           
                

        footer.footer
            h3 Copyright &copy; MITAOE