

/* head*/

.head{
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.head h1{
    color: white;
}

/*main clubs/index*/

.club-container{
    border: 2px solid black;
    border-radius: 10px;
    display:flex;
    flex-wrap: wrap;
    margin: 14px 20px;
    padding: 35px 30px;
    text-align: center;
    min-height: 400px;
}
.no-club{
    margin: auto;
    color: red;
    font-size: 3.3rem;
}
/* club cards*/


.club-card{
    min-width: 280px;
    max-width: 280px;
    display: flex;
    position: relative;
    margin: 0 20px;
    border: 0px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 14px rgb(177 251 255);
    flex-direction: column;
    /* background-color: yellow; */
    height: fit-content;
}
.club-photo{
    height:150px;
    border-radius: 15px 15px 0 0;
}
.club-name{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 15px 0;
}
.club-desc{
    font-style: italic;
    text-align: justify;
    padding: 13px 35px;
    overflow: auto;
}
.info{
    display: flex;
    justify-content: space-between;
    padding: 3px 15px;
    margin: 2px 5px;
    position: relative;
}
.member,.tag{
    background-color: greenyellow;
    padding: 5px 16px;
    margin-top: 12px;
}
.tag{
    background-color: red;
    color: white;
    position: absolute;
    right: -20px;
    border: 2px solid white;
    border-radius: 15px;
    top: 0px;
    transform: rotate(30deg);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.club-card a{
    margin:23px auto;
}


/*Admin CSS*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
 
.club-admin-container{
    margin: 17px 15px;
    border: 2px solid black;
    border-radius: 15px;
    min-height: 400px;
    padding: 20px 30px;
}
.club-admin-container h1{
    text-align: center;
    color: red;
    margin: 20px;
}
.admin-head{
    display: flex;
    margin: 12px auto;
    font-size: 2rem;
    justify-content: space-evenly;
    color:red;
    font-family: 'Courier New', Courier, monospace;
}

/* form css */
.form-box{
    width: 500px;
    margin: 0px auto;
    background-color: white;
    border-radius: 0 60px 0 60px;
    padding: 5px 30px;
}
.form-heading{
    text-align: center;
    margin: 30px 0;
    font-size: 1.3rem;
    font-weight: bold;
}
.input-box{
    margin: 15px;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}
.input-box label{
    padding: 5px 2px;
}
.input-box input,.input-box select{
    padding: 5px 7px;
    width: 100%;
    margin: 5px 0;
    outline: none;
    font-size: 1.1rem;
    border: none;
    border-bottom: 2px solid black;
}
textarea{
    padding: 5px 7px;
}

.container{
    margin: 20px auto;
    width: 90vw;
}

.not-edit{
    background-color: #dddddd;
}

.avatar-main{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
    cursor: pointer;
}
.avatar{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /* display: inline; */
    margin: 10px;
    cursor: pointer;
}

.avatar-box{
    margin: 15px;
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
    flex-wrap: wrap;
}

