doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MITAOE | Club Page
        style 
            include ./../../public/css/landing.css
            include ./../../public/util.css
    body 
        header.header 
            img(src="Logo.png", alt="Logo" class="logo")
        main 
            .container
                .welcome Welcome to MITAOE Club Page
                .home1
                    .form-box 
                        h3.form-heading Sign Up
                        form(action="/signup" method="POST")
                            div.input-box
                                label(for="full_name")
                                input(type="text" name="full_name" placeholder="Enter your full name" required) 
                            div.input-box
                                label(for="email")
                                input(type="email" name="email" placeholder="Enter your college email" required) 
                            div.input-box
                                label(for="prn")
                                input(type="number" name="prn" placeholder="Enter your PRN" required) 
                            div.input-box
                                label(for="m_no")
                                input(type="number" name="mobile_number" placeholder="Enter your Phone Number" required) 
                            div.input-box
                                label(for="m_no") 
                                select(name="study_year")
                                    option(value) -------------Select Study Year-------------  
                                    option(value="First Year") First year  
                                    option(value="Second Year") Second year  
                                    option(value="Third Year") Third year  
                                    option(value="Fourth Year") Fourth year  
                                    option(value="Pass Out") Pass Out  
                            div.input-box
                                label(for="m_no") 
                                select(name="department")
                                    option(value) -------------Select Department------------  
                                    option(value="Computer Department") Computer Department   
                                    option(value="Mechanical Department") Mechanical Department   
                                    option(value="Electronics Department") Electronics Department   
                                    option(value="Civil Department") Civil Department   
                                    option(value="Chemical Department") Chemical Department   
                            div.input-box
                                label(for="password")
                                input(type="password" name="password" placeholder="Enter your password" required) 
                            div.input-box
                                button(type="submit" class="btn btn-signup") Sign Up
                            div.input-box
                                a(href="/login") Already have an account? Login here 
                

        footer.footer
            h3 Copyright &copy; MITAOE